= render "results"

- visible_fields = @model_config.import.with(view: self, object: @abstract_model.model.new, controller: self.controller).visible_fields
- model_fields = visible_fields.select{ |f| !f.association? || f.association.polymorphic? }
- association_fields = visible_fields.select{ |f| f.association? && !f.association.polymorphic? }

= form_tag import_path(@abstract_model), :multipart => true, class: 'form-horizontal denser' do

  %input{name: "send_data", type: "hidden", value: "true"}/
  %fieldset
    %legend
      %i.icon-chevron-down
      = t('admin.import.legend.fields')

    = render "section", section: "model_fields", fields: model_fields
    = render "section", section: "association_fields", fields: association_fields

  %fieldset
    %legend
      %i.icon-chevron-down
      = t('admin.import.legend.upload')
    .form-group.control-group
      %label.col-sm-2.control-label{for: "file"}= t("admin.import.file")
      .col-sm-10.controls
        = file_field_tag :file, :class => "form-control"
        %p.help-block= t('admin.import.help.file_limit', limit: RailsAdminImport.config.line_item_limit)
    .form-group.control-group
      %label.col-sm-2.control-label{for: "encoding"}= t("admin.import.encoding")
      .col-sm-10.controls
        = select_tag 'encoding', options_for_select(RailsAdmin::CSVConverter::TARGET_ENCODINGS), include_blank: true
        %p.help-block= t('admin.import.help.encoding', name: RailsAdminImport.config.default_encoding)
    -# TODO: switch to rollback transaction if import of one record fails
    .form-group.control-group
      %label.col-sm-2.control-label= t("admin.import.update_if_exists")
      .col-sm-10.controls
        = check_box_tag :update_if_exists, '1', false, :class => "form-control"
    .form-group.control-group
      %label.col-sm-2.control-label{for: "update-lookup"}= t("admin.import.update_lookup")
      .col-sm-10.controls
        -# TODO: model pollution, config key
        = select_tag 'update_lookup', options_for_select(model_fields.map(&:name), RailsAdminImport.config(@abstract_model.model).mapping_key.to_s), data: { enumeration: true }

  - association_fields = [*@importer.belongs_to_fields, *@importer.many_fields]
  - unless association_fields.empty?
    %fieldset
      %legend
        %i.icon-chevron-down
        = t('admin.import.legend.mapping')

      - association_fields.each do |field|
        .form-group.control-group
          %label.col-sm-2.control-label
            = field.pretty_name
            = t("admin.import.mapping")
          .col-sm-10.controls
            -# TODO: model pollution, config key
            = select_tag field.name, options_for_select(field.klass.new.attributes.keys, RailsAdminImport.config(field.klass).mapping_key.to_s), data: { enumeration: true }

  %br
  .form-actions
    %input{type: :hidden, name: 'return_to', value: (request.params[:return_to].presence || request.referer)}
    %button.btn.btn-primary{type: "submit", name: "commit", data: {disable_with: "Uploading..."} }
      %i.icon-white.icon-ok
      = t("admin.form.save")
    %button.btn{type: "submit", name: "_continue"}
      %i.icon-remove
      = t("admin.form.cancel")
