= form_tag import_path(@abstract_model), method: 'post', class: 'form-horizontal denser' do

  %input{name: "send_data", type: "hidden", value: "true"}/
  %fieldset
    %legend
      %i.icon-chevron-down
      = t('admin.import.legend.fields')

    -# TODO: don't pollute the model class with import_fields
    -# Set up @model_config.import.with(view: self, object: @abstract_model.model.new, controller: self.controller).import_fields
    = render "section", section: "model_fields", fields: @importer.import_fields
    = render "section", section: "belongs_to_fields", fields: @importer.belongs_to_fields
    = render "section", section: "has_many_fields", fields: @importer.many_fields
    = render "section", section: "extra_fields", fields: RailsAdminImport.config(@abstract_model.model).extra_fields

  %fieldset
    %legend
      %i.icon-chevron-down
      = t('admin.import.legend.upload')
    .form-group.control-group
      %label.col-sm-2.control-label{for: "file"}= t("admin.import.file")
      .col-sm-10.controls
        = file_field_tag :file, :class => "form-control"
        %p.help-block= t('admin.import.help.file_limit', limit: RailsAdminImport.config.line_item_limit)
    .form-group.control-group
      %label.col-sm-2.control-label{for: "encoding"}= t("admin.import.encoding")
      .col-sm-10.controls
        = select_tag 'encoding', options_for_select(RailsAdmin::CSVConverter::TARGET_ENCODINGS), include_blank: true
        %p.help-block= t('admin.import.help.encoding', name: RailsAdminImport.config.default_encoding)
    -# TODO: switch to rollback transaction if import of one record fails
    .form-group.control-group
      %label.col-sm-2.control-label= t("admin.import.update_if_exists")
      .col-sm-10.controls
        = check_box_tag :update_if_exists, '1', false, :class => "form-control"
    .form-group.control-group
      %label.col-sm-2.control-label{for: "update-lookup"}= t("admin.import.update_lookup")
      .col-sm-10.controls
        -# TODO: model pollution, config key
        = select_tag 'update-lookup', options_for_select(@abstract_model.model.new.attributes.keys, RailsAdminImport.config(@abstract_model.model).mapping_key.to_s), data: { enumeration: true }

  %fieldset
    %legend
      %i.icon-chevron-down
      = t('admin.import.legend.mapping')

    - association_fields = [*@abstract_model.model.belongs_to_fields, *@abstract_model.model.many_fields]
    - association_fields.each do |field|
      .form-group.control-group
        %label.col-sm-2.control-label
          = capitalize_first_letter field.to_s
          = t("admin.import.mapping")
        .col-sm-10.controls
          -# TODO: model pollution, config key
          = select_tag field, options_for_select(@abstract_model.model.association_class(field).new.attributes.keys, RailsAdminImport.config(@abstract_model.model.association_class(field)).mapping_key.to_s), data: { enumeration: true }

  %br
  .form-actions
    %input{type: :hidden, name: 'return_to', value: (request.params[:return_to].presence || request.referer)}
    %button.btn.btn-primary{type: "submit", name: "commit", data: {disable_with: "Uploading..."} }
      %i.icon-white.icon-ok
      = t("admin.form.save")
    %button.btn{type: "submit", name: "_continue"}
      %i.icon-remove
      = t("admin.form.cancel")
