<% if @response -%>
<% if @response.has_key?(:error) -%>
<div class="alert-error alert"><%= @response[:error] %></div>
<% end -%>
<% if @response.has_key?(:notice) -%>
<div class="alert-success alert"><%= @response[:notice] %></div>
<% end -%>
<% end -%>

<%= form_tag rails_admin.import_url(@abstract_model.to_param), :multipart => true, :class => 'form-horizontal' do |f| -%>
  <fieldset>
    <legend>
      <i class="icon-chevron-down"></i>
      <%= t('admin.import.legend.fields') %>
    </legend>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.fields_from', model: @abstract_model.to_param) %></label>
      <div class="controls">
        <ul>
        <% @abstract_model.model.import_fields.each do |field| -%>
          <li><%= field %></li>
        <% end -%>
        </ul>
        <p class="help-block"><%= t('admin.import.help.fields') %></p>
      </div>
    </div>
    <% if @abstract_model.model.belongs_to_fields.any? -%>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.belongs_to_fields') %></label>
      <div class="controls">
        <ul>
        <% @abstract_model.model.belongs_to_fields.each do |field| -%>
          <li><a href="<%= url_for(:action => :index, :model_name => @abstract_model.model.association_class(field).name.underscore) %>"><%= field.to_s.titleize %></a></li>
        <% end -%>
        </ul>
        <p class="help-block"><%= t('admin.import.help.belongs_to_fields') %></p>
      </div>
    </div>
    <% end -%>
    <% if @abstract_model.model.file_fields.any? -%>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.belongs_to_fields') %></label>
      <div class="controls">
        <ul>
        <% @abstract_model.model.file_fields.each do |field| -%>
          <li><%= field %></li>
        <% end -%>
        </ul>
        <p class="help-block"><%= t('admin.import.help.file_fields') %></p>
      </div>
    </div>
    <% end -%>  
    <% if @abstract_model.model.many_fields.any? -%>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.has_many_fields') %></label>
      <div class="controls">
        <ul>
        <% @abstract_model.model.many_fields.each do |field| -%>
          <li><%= field %></li>
        <% end -%>
        </ul>
        <p class="help-block"><%= t('admin.import.help.has_many_fields') %></p>
      </div>
    </div>
    <% end -%>
    <% if RailsAdminImport.config(@abstract_model.model).extra_fields.any? -%>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.belongs_to_fields') %></label>
      <div class="controls">
        <ul>
        <% RailsAdminImport.config(@abstract_model.model).extra_fields.each do |field| -%>
          <li><%= field %></li>
        <% end -%>
        </ul>
        <p class="help-block"><%= t('admin.import.help.extra_fields') %></p>
      </div>
    </div>
    <% end -%>
  </fieldset>
  <fieldset>
    <legend>
      <i class="icon-chevron-down"></i>
      <%= t('admin.import.legend.upload') %>
    </legend>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.file') %></label>
      <div class="controls">
        <%= file_field_tag :file %>
        <p class="help-block"><%= t('admin.import.help.file_limit', limit: RailsAdminImport.config.line_item_limit) %></p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.update_if_exists') %></label>
      <div class="controls">
        <label class="checkbox">
          <%= check_box_tag :update_if_exists %>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" data-original-title="Click to reverse selection" onclick="jQuery(this).siblings('.controls').find('input').click()" rel="tooltip"><%= t('admin.import.update_lookup') %></label>
      <div class="controls">
        <select name="update_lookup">
          <% @abstract_model.model.new.attributes.keys.each do |key| -%>
          <option value="<%= key %>"<%= key.to_s == RailsAdminImport.config(@abstract_model.model).mapping_key.to_s ? ' selected="selected"' : '' %>><%= key %></option>
          <% end -%>
        </select>
      </div>
    </div>

  </fieldset>
  <% if @abstract_model.model.belongs_to_fields.any? || @abstract_model.model.many_fields.any? -%>
  <fieldset>
    <legend>
      <i class="icon-chevron-down"></i>
      <%= t('admin.import.legend.mapping') %>
    </legend>

    <% [@abstract_model.model.belongs_to_fields, @abstract_model.model.many_fields].flatten.each do |field| -%>
    <div class="control-group">
      <label class="control-label" for="csv_options_encoding_to"><a href="<%= url_for(:action => :index, :model_name => @abstract_model.model.association_class(field).name.underscore) %>"><%= field.to_s.titleize %></a> t('admin.import.mapping')</label>
      <div class="controls">
        <select name="<%= field %>">
          <% @abstract_model.model.association_class(field).new.attributes.keys.each do |key| -%>
          <option value="<%= key %>"<%= key.to_s == RailsAdminImport.config(@abstract_model.model.association_class(field)).mapping_key.to_s ? ' selected="selected"' : '' %>><%= key %></option>
          <% end -%>
        </select>
      </div>
    </div>
    <% end -%>
  </fieldset>
  <% end -%>
  <div class="form-actions">
    <button class="btn btn-primary" name="commit" type="submit" data-disable-with="Uploading...">
      <i class="icon-white icon-ok"></i>
      <%= t('admin.form.save') %>
    </button>
    <button class="btn" name="_continue" type="submit">
      <i class="icon-remove"></i>
      <%= t('admin.form.cancel') %>
    </button>
    <!--<%= submit_tag "Upload", :disable_with => "Uploading..." %>-->
  </div>
<% end -%>
